/*
Original design: Basic Profile (v2.0 - Sep 11, 2012) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/basic-profile/
*/

*{margin:0; padding:0;}
body {background:#fff url(background.jpg) top center no-repeat; color:#303030; font:84%  helvetica,sans-serif; line-height:1.6em;}
a {color:#479761; text-decoration:none;}
a:hover {text-decoration:underline;}
p,ol,dl {margin:0 0 30px 0;}
ul {margin:0 0 10px 30px;}
h1 {color:#888; font-size:3em; margin-bottom:0;font-weight:350; color:#214f8c;}
h1 a {text-transform:none; font-weight:400;}
h1 a:hover {text-decoration:none; color:#eee;}
h2 {font-size:2em; color:#333; margin:0 0 5px; font-weight:300; color:#214f8c;}
h3 {font-size:1.3em; margin:0 0 5px 0; font-weight:200; color:#214f8c;}
h1,h2,h3 {line-height:1.2em; font-family:'helvetica', sans-serif;}

#wrap {color:#303030; margin:40px auto; padding:0; width:900px;}
#content {text-align:left; width:600px; padding-right:40px;}
#content li {list-style:none;}
#sidebar {float:right; width:200px; padding-left:40px; border-left:2px solid #ccc; }
#sidebar ul {list-style:none; margin:0; padding:10px 0 0 0; border-top:1px solid #eee;}
#sidebar li {list-style:none; font-size:1.2em; margin:0 0 10px; padding:0 0 10px 0; color:#888; border-bottom:1px solid #eee;}
#sidebar li a {font-size:1.2em; color:#214f8c}
#sidebar h2 {font-size: 1.4em;}
.slogan {color:#888; font-size:1.4em; font-weight:700; margin:0 0 20px 0; letter-spacing:-1px;}
.readmore {text-align:right; margin:0 20px 30px 0;}
.timestamp {display:block; font-weight:700; color:#888; text-align:right; width:150px; padding:20px 20px 20px 0; float:left; margin:0 20px 20px 0; border-right:2px solid #eee;}
.timestamp a {font-weight:normal;}
.credits {display:block; clear:left; font-size:0.9em; color:#aaa; margin:20px 0;}
.credits a {color:#888;}
.clear {clear:both;}
.center {display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;}

/* Footer */
#footer {background:##fff url(images/insidebg.jpg) top center no-repeat;}
#footer .col {color:#555; border-top:1px  #1a1a1a; padding:20px 0;}
#footer p {text-align:center;}
#footer a {color:#555; font-weight:400; text-decoration:none; border-bottom:1px  #333;}
#footer a:hover {color:#aaa; text-decoration:none; border-bottom:1px  #888;}    